// -------------------------------
//     EXTENDS
// -------------------------------

%clearfix {
    @include clearfix;
}

%resetInput {
    box-shadow: 0;
    outline: none;
    appearance: none;
}
