// -------------------------------
//     HELPERS
// -------------------------------

body {
    .mt-sm {
        margin-top: 10px;
    }

    .mt-m {
        margin-top: 30px;
    }

    .mt-l {
        margin-top: 40px;
    }
}
